<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ app_name }}</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div class="top-bar">
    <h1><a href="/">{{ app_name }}</a></h1>
    <div class="right-buttons">
      <button>Calculate your STL</button>
      <button>Shop</button>
      <button>Custom design</button>
      <button style="border: 1px solid #fff">Materials and colors</button>
    </div>
  </div>

  <div class="main-content">

    <p>Welcome to vincent's printing service.</p>
    <p>Here you can calculate the price of your 3D print, shop for 3D prints, or request a custom design.</p>
    <div class="card-wrapper">
      <div class="card">
        <h2>Calculate your STL</h2>
        <p>Do you have your own STL and would you like to have it printed in a wide range of materials and colors?</p>
        <p>Upload it into my custom form and get an instant quote.</p>
        <button>Calculate</button>
      </div>
      <div class="card">
        <h2>Choose from premade models</h2>
        <p>If you are looking for a case for your keyboard, there is a chance i have already made a case for it.</p>
        <p>Look through my past models and see what you like.</p>
        <button>Shop</button>
      </div>
      <div class="card">
        <h2>Custom design</h2>
        <p>If you have a keyboard you want a case made for and you have specific requirements or I just have not yet made case for it.</p>
        <p>Request a custom design and I will get back to you with a quote.</p>
        <button>Contact me</button>
      </div>
    </div>
  </div>

  <div class="footer">
    <p style="text-align: center">Built by <a href="https://vincentsmid.xyz" target="_blank">vincent</a>.
    </p>
  </div>

</body>

</html>