<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ app_name }}</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div class="top-bar">
    <h1><a href="/">{{ app_name }}</a></h1>
    <div class="right-buttons">
      <button>Calculate your STL</button>
      <button>Shop</button>
      <button>Custom design</button>
    </div>
  </div>

  <div class="main-content">

    <p>Welcome to vincent's printing service.</p>
    <p>Here you can calculate the price of your 3D print, shop for 3D prints, or request a custom design.</p>
    <p></p>
  </div>

  <div class="footer">
    <p style="text-align: center">Built by <a href="https://vincentsmid.xyz" target="_blank">vincent</a>.
    </p>
  </div>

</body>

</html>