{% extends 'base.html.jinja' %}

{% block content %}
<div class="success-container">
  <h1>Success!</h1>
  <p>We have sent you an email :)</p>
  <p>You can also contact me on discord: mo.m</p>

  <a href="/" class="home-button"><h2>Back to home!</h2></a>
</div>

{% endblock %}