{% extends 'base.html.jinja' %}

{% block content %}
  <p style="font-size: 2rem">Here you can find examples of what can be printed. Soon available as a shop.</p>
  <p style="font-size: 2rem">Many more custom and non-custom 3D models coming soon.</p>

  <section class="shop-items">
    <article>
      {% with id="one", path="/static/cygnus.stl", zoom="false", height="40rem" %}
        {% include "3drender.html.jinja" %}
      {% endwith %}

      <h2>Cygnus keyboard</h2>
      <p>Opensource ergo keyboard made by juhakaup.</p>

      <button>dead link for now</button>
    </article>
    <article>
      {% with id="two", path="/static/dactyl.stl", zoom="false", height="40rem" %}
        {% include "3drender.html.jinja" %}
      {% endwith %}

      <h2>Dactyl keyboard</h2>
      <p>Opensource ergo keyboard made by okke-formsma.</p>

      <button>dead link for now</button>
    </article>
  </section>

{% endblock %}
