<div class="top-bar">
  <h1><a href="/">{{ app_name }}</a></h1>
  <div class="right-buttons">
    <button class="infoBtn">Information</button>
    <button class="shopBtn">Shop</button>
    <button class="calculateBtn" style="border: 1px solid var(--text-color)">Calculate your STL</button>
  </div>
</div>
