<div class="top-bar">
  <h1><a href="/">{{ app_name }}</a></h1>
  <div class="right-buttons">
    <button class="calculateBtn">Calculate your STL</button>
    <button class="shopBtn">Shop</button>
    <button class="customDesignBtn">Custom design</button>
    <button class="materialsColors" style="border: 1px solid var(--text-color)">Materials and colors</button>
  </div>
</div>
